.gradle
.idea
.DS_Store
build
*.iml
*.ipr
*.iws
*.json
!**/docs/**/*.json
*.graphql
*.sql
!**/local/localstack/**/*.json
!**/local/mappings/**/*.json
!**/local/rabbitmq/**/*.json
/otel
*.log
path/

json/*
personal/*
tmp/*
querys/*
logs/*
1**/*
data.csv
data*.csv

.env
.venv
env/
venv/
bin/*
jmeter*
test.md
users-*
*-executions.log
*.zip
*/__pycache__
__pycache__/
requests.txt
.vscode/
.github/instructions/snyk_rules.instructions.md
python/_*.py
.venv/